*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*layout*/
header{
    height: 70px;
    background-color: white;
    
}

.container-header{
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
}

.col-logo{
    padding-top: 20px;
    margin-right: 30px;
    margin-left: 20px;
}

.col-option-left{
    width: 750px;
}

.prima-lista{
    padding-top: 20px;
}

.seconda-lista{
    padding-top: 15px;
}

li{
    display: inline-block;
    padding-right: 30px;
}

a{
    text-decoration: none;
    color: rgb(77, 77, 77);
}

.col-logo-right{
    width: 300px;
}

.button{
    background-color: rgb(22, 94, 236);
    color: white;
    padding: 5px 10px

}

.container-jumbotron{
    background-color: rgba(180, 208, 230, 255);
    padding: 80px 150px 0px 150px;
}
h1{
    font-size: 90px;
}

.p-jumbotron{
    font-size: 20px;
    padding-top: 40px;
    color:  rgb(77, 77, 77);
}

.button.inline-block{
    display: inline-block;
    margin-top: 20px;
    padding: 10px;
}

.arrow{
    font-size: 40px;
    margin-top: 70px;
    margin-left: 5px;
}

.img-jumbotron{
    position: absolute;
    height: 500px;
    right: 50px;
    top: 380px;
}

hr{
    color: rgb(128, 128, 128, 0.33);
}

.container{
    background-color: white;
    padding: 60px 0;
}

.content-bg-red{
    height: 1500px;
    width: 1000px;
    margin: 30px 220px;
    background-color: rgb(239, 35, 35);
    border: 1px solid black; 
}

.content-bg-green{
    height: 500px;
    width: 1000px;
    margin: 30px 220px;
    background-color: rgb(76, 239, 35);
    border: 1px solid black; 
}

.content-bg-orange{
    height: 1500px;
    width: 1000px;
    margin: 30px 220px;
    background-color: rgb(239, 103, 35);
    border: 1px solid black; 
}

.content-bg-blu{
    height: 500px;
    width: 1000px;
    margin: 30px 220px;
    background-color: rgb(35, 55, 239);
    border: 1px solid black; 
}

footer{
    background-color: black;
    height: 500px;
    padding: 50px 170px;
}

.container-footer{
    background-color: gray;
    height: 400px;
    display: flex;
}

.col-footer{
    width: 220px;
    color: white;
}

